<!doctype html>
<html>
  {% include head.html %}
  <body>
    <a href="https://github.com/ooxi/violetland" class="github-corner">{% include github-corner-right.svg %}</a>

    <div class="wrapper">
      <header>
        <div class="logo"><a href="https://github.com/ooxi/violetland"><img src="images/icons/logo.png" alt="Violetland" /></a></div>
        <h1 class="header">Violetland</h1>
        <p class="header">An open source cross-platform game similar to Crimsonland</p>

        <ul>
          <li><a class="buttons download" href="https://github.com/ooxi/violetland/downloads">Downloads</a></li>
          <li><a class="buttons download" href="https://github.com/ooxi/violetland/wiki/Third-Pary-Packages" style="font-size: 90%">Third Party Packages</a></li>
        </ul>

        <div style="text-align: center">
          <a href="https://twitter.com/VioletlandGame" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @VioletlandGame</a>
        </div>

      </header>
      <section>
        {{ content }}
	  </section>
      <footer>
        <p><small>Hosted on <a href="https://pages.github.com">GitHub Pages</a> using the Dinky theme</small></p>
      </footer>
    </div>
    <!--[if !IE]><script type="text/javascript">fixScale(document);</script><![endif]-->
    <script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
    <script type="text/javascript" src="lib/galleria/galleria-1.2.8.min.js"></script>
    <script type="text/javascript">
      Galleria.loadTheme('lib/galleria/themes/classic/galleria.classic.min.js');
      Galleria.run('#galleria');
    </script>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </body>
</html>
